
<!DOCTYPE html>


<html lang="en">
	<head id="page_head">
		<title id="page_title">Ashby Village - a reciprocal community where members can rely on each other to improve quality of life and expand choices as they age - Ashby Village</title>

				<script type="text/javascript">
					(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
					m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
					})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
					ga('create', 'UA-26605495-1', 'auto', {'allowLinker': true});
					ga('require', 'linker');
					ga('set', 'dimension1', 'Home');
					ga('set', 'dimension2', 'Home Page');
					ga('set', 'dimension3', '');
					ga('send', 'pageview');
				</script>


			<script type="text/javascript">
				var True = true;
				var False = false;
				var userLoggedIn = False;
				var memberNumber = '';
				var memberId = '';
				var previewMode = False;
				var isMobileDevice = False;
				var isPostBack = False;
				var submitButtonName = "";
				var cancelButtonName = "";
				var focusControlId = '';
				var isApp = False;
				var hidePageTools = false;
				var isIE7 = false;
				var isIE8 = false;
				var isPopup = false;

				var pageToolsReferenceSelector = null;
				function doCancel() {	}
		/***********************************************
		* Smooth Navigational Menu - © Dynamic Drive
		* AnyLink Drop Down Menu - © Dynamic Drive
		* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
		* Editor Insert News Article Icon is by http://www.iconarchive.com/artist/double-j-design.html
		***********************************************/

			</script>

			<!--[if IE ]>
				<script type="text/javascript">
					isIE8 = (document.documentMode == 8);
					if (!isIE8) {
						isIE7 = (document.documentMode <= 7);
					}
					if (isIE8 || isIE7) {
						document.createElement('nav');
						document.createElement('footer');
						document.createElement('header');
					}
				</script>
			<![endif]-->

			<link type="text/css" href="/css/smoothness/jquery-ui.min.css" rel="Stylesheet" />
			<link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20181110" />
			<link rel="stylesheet" type="text/css" href="/css/widget.css?v=20180913" />
			<link rel="stylesheet" media="print" type="text/css" href="/css/printable.css?v=20170904" />
			<meta id="description_meta_tag" name="description" content="Working Together to Provide Members with the Confidence to Remain in Their Own Homes as They Grow Older."></meta>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" integrity="sha384-KcyRSlC9FQog/lJsT+QA8AUIFBgnwKM7bxm7/YaX+NTr4D00npYawrX0h+oXI3a2" crossorigin="anonymous"></script>

			<link rel='stylesheet' type='text/css' href='/clubs/748044/css/fonts.css?v=2' />
<link rel='stylesheet' type='text/css' href='/css/layout/50/layout.css?v=1' />
<link rel='stylesheet' type='text/css' href='/css/menu/34/menu.css?v=1' />
<link rel='stylesheet' type='text/css' href='/css/design/18/design.css?v=1' />
<link rel='stylesheet' type='text/css' href='/css/color/1/color.css?v=2' />
<link rel='stylesheet' type='text/css' href='/css/color/1/layout/50/layout_color.css?v=1_2' />
<link rel='stylesheet' type='text/css' href='/css/color/1/menu/34/menu_color.css?v=1_2' />
<link rel='stylesheet' type='text/css' href='/css/color/1/design/18/design_color.css?v=1_2' />
<link rel='stylesheet' type='text/css' href='/clubs/748044/css/club.css?v=126' />
<link rel='stylesheet' type='text/css' href='/clubs/748044/css/custom.css?v=126' />

			<link rel="shortcut icon" href="favicon.ico?v=748044_2070335187" type="image/x-icon" />
			<meta id="google_meta_tag" name="Google-site-verification" content="CYDw9TEM-W7kC7YyKHrPecXmb-tKLntyPDNUYWDzgsY"></meta>
			<meta name="referrer" content="always" />





	</head>

	<body onhelp="return false;">
		<form method="post" action="./" id="form">
<div class="aspNetHidden">
<input type="hidden" name="style_sheet_manager_TSSM" id="style_sheet_manager_TSSM" value="" />
<input type="hidden" name="script_manager_TSM" id="script_manager_TSM" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTE3MzA0Mjc5MjZkGAEFHl9fQ29udHJvbHNSZXF1aXJlUG9zdEJhY2tLZXlfXxYBBR5jdGwwMCR1c2VyX3BhbmVsJHNob3BwaW5nX2NhcnSqnPfxqJsO2vV3ERqPsFBkE2O7MA==" />
</div>

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form'];
if (!theForm) {
    theForm = document.form;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>


<script src="/WebResource.axd?d=OqN7XiRWojVZ5xPgCcCBZd-J_uUSMWhx6EJFLepA1T6jvVG-CDPYYMHiNODdqePo7V01xV6OgpzEsEvsS3XR1T5P-Yo1&amp;t=636160624665894255" type="text/javascript"></script>


<script src="/Telerik.Web.UI.WebResource.axd?_TSM_HiddenField_=script_manager_TSM&amp;compress=1&amp;_TSM_CombinedScripts_=%3b%3bSystem.Web.Extensions%2c+Version%3d4.0.0.0%2c+Culture%3dneutral%2c+PublicKeyToken%3d31bf3856ad364e35%3aen-US%3a4bd8faf8-554d-46be-b2ff-c9d57adb612c%3aea597d4b%3ab25378d2%3bTelerik.Web.UI%3aen-US%3a8b7d6a7a-6133-413b-b622-bbc1f3ee15e4%3a16e4e7cd%3a365331c3%3a24ee1bba%3aed16cbdc%3a33715776%3a874f8ea2%3ac128760b%3a19620875%3af46195d3%3acda80b3%3a383e4ce8" type="text/javascript"></script>
<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="65E7F3AF" />
</div>

			<a href="#page_content" id="skip_nav" tabindex="1">Skip to main content</a>
			<a name="top"></a>



			<div class='cb-common cb-0'><style>
    .new-social a {
    text-decoration:none;
    }
    .new-social img {
    max-width:120px;
    }
    .new-social {
    float:right;
    }
</style>
<div class="layout-wrapper">
<div class="new-social">
<a href="https://www.facebook.com/ashbyvillage/" target="_blank">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/av_facebook_1745771076.png" border="0">
</a>
<a href="https://www.youtube.com/channel/UCuGSgUutWdy3osfi2j8MxTg" target="_blank">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/av_youtube_1968239669.png" border="0">
</a>
</div>
<div class="clear"></div>
</div></div>







			<link type="text/css" rel="stylesheet" href="/Telerik.Web.UI.WebResource.axd?d=iREyPG4DwYIgIjiZ6AhT-z_T8FuzI3Kf5SvGp2BzqbAPT6DnDY7vgxjaeSUOQSsvwXYETCbNuuWRnjPFlUaMYDBUVj1gFSVendHhNmUIj6eETkTEyABsxbOulZHA9hb7dmmM1Q2&amp;t=636160624665737994&amp;compress=1&amp;_TSM_CombinedScripts_=%3b%3bTelerik.Web.UI%2c+Version%3d2018.2.710.45%2c+Culture%3dneutral%2c+PublicKeyToken%3d121fae78165ba3d4%3aen-US%3a8b7d6a7a-6133-413b-b622-bbc1f3ee15e4%3a53e1db5a%3ad126a8ef" />

			<script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('script_manager', 'form', ['tctl00$user_panel$shopping_cartRTMPanel','','tctl00$user_panel$ctl00$user_panel$RadAjaxPanelPanel',''], [], [], 90, '');
//]]>
</script>


			<input name="previous_page_url" type="hidden" id="previous_page_url" />

			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" integrity="sha384-YWP9O4NjmcGo4oEJFXvvYSEzuHIvey+LbXkBNJ1Kd0yfugEZN9NCQNpRYBVC1RvA" crossorigin="anonymous"></script>
			<script type="text/javascript" src="/script/widget.js?v=20180205"></script>
			<script type="text/javascript" src="/script/common.js?v=20180824"></script>



			<div id="desktop_page_tools">

	<style type="text/css">
		@import url("/css/page_tools.css?v=201410431");
	</style>
	<ul id="page_tools">
		<li>
			<div id="drag_box"></div>
		</li>
		<li>
			<a href="#" onclick="showHelpPopup('/help.aspx?help=2437', 400, 500); return false;" class='help-link'  id='help_link'  title='Help' rel='nofollow'><img border=0 src="/images/help1.gif" alt="Help" title="Help"></a>
		</li>
		<li>
			<span class="print-link" title="Print" id="print_link" onclick="printPage(&#39;&#39;, &#39;&#39;, &#39;Ashby Village&#39;, &#39;www.ashbyvillage.org&#39;);"><img alt="Print" src="/images/print.gif" hspace="3" align="absmiddle" /></span>
		</li>
		<li>
			<a href="#" id="text_size" onclick="toggleTextSize(); return false;" title="Text Size" rel="nofollow"></a>
		</li>

		<li>

		</li>
		<li >
			<a href="#top" id="go_to_top" title="Go To Top" rel="nofollow"></a>
		</li>
		<li>

		</li>
	</ul>

</div>







			<link rel="stylesheet" type="text/css" href="/script/galleria/themes/twelve/galleria.twelve.css" />

			<script type="text/javascript">
				$(document).ready(function () {
					if (focusControlId) {
						window.setTimeout(function () {
							var focusElement = document.getElementById(focusControlId);
							if (focusElement) {
								focusElement.focus();
							}
						}, 100);
					}
				});

				// showChromeHelp
				function showChromeHelp() {
					showHelpById(3179);
					var d = new Date();
					d.setDate(d.getDate() + 30);
					var expires = "expires="+ d.toUTCString();
					document.cookie = "chrome_warning=y;" + expires + ";path=/";
				}
			</script>





<div class="top-wrapper">
	<div class="layout-wrapper">
		<div class="top-line">
			<div class="user-tools">



			</div>
			<div class="user-panel">


<style type="text/css">
	#user_panel {
		float:left;
		zoom:1;
	}
	#important_icons {
		float:left;
		height:20px;
		margin-top:2px;
		margin-left:2px;
		margin-right:3px;
	}
	#op_wrapper {
		position:relative;
		display:block;
		z-index:2;
		zoom:1;
	}
	#user_bar {
		float:right;
	}
	#important_icons #cart_link_icon img{
		display:none;
	}
</style>
<script type="text/javascript" src="/script/user_panel.js?v=20180301"></script>

<div class="RadAjaxPanel" id="ctl00_user_panel_ctl00_user_panel_RadAjaxPanelPanel">
	<div id="ctl00_user_panel_RadAjaxPanel">
		<!-- 2018.2.710.45 -->
	<AjaxSettings>
		   <telerik:AjaxSetting AjaxControlID="cart_link_icon">
				<UpdatedControls>
					 <telerik:AjaxUpdatedControl ControlID="shopping_cart"></telerik:AjaxUpdatedControl>
				</UpdatedControls>
		   </telerik:AjaxSetting>
			<telerik:AjaxSetting AjaxControlID="scheduler_icon">
				<UpdatedControls>
					 <telerik:AjaxUpdatedControl ControlID="shopping_cart"></telerik:AjaxUpdatedControl>
				</UpdatedControls>
		   </telerik:AjaxSetting>
	  </AjaxSettings>

	</div>
</div>

<div id="user_wrapper" >
	<div id="important_icons" >


		<div id="cart_link" onclick="showCart(this); return false;"><a href="/content.aspx?page_id=585&club_id=748044" class="cart-link important-cart-link "  style='display:none;'  title='Your cart is empty' ></a></div>

	</div>
	<div id="user_bar" style="padding-right:2px;">
		<div id="user_panel">
			<div id="non_member_panel">
				<a href="/content.aspx?page_id=31&club_id=748044&action=login&user=5&" class="login-link"  rel='nofollow'>Member Login</a>
			</div>
			 <!--END MEMBER PANEL -->
		</div> <!--END USER PANEL -->
	</div>
</div>
<div id="ctl00_user_panel_shopping_cart" class="ToolTipContent" style="border-width:2px;border-style:solid;display:none;position:absolute;">
	<div id="ctl00_user_panel_shopping_cartRTMPanel">

	</div><input id="ctl00_user_panel_shopping_cart_ClientState" name="ctl00_user_panel_shopping_cart_ClientState" type="hidden" />
</div>


<script type="text/javascript">
	var renewLink = '';
	var paymentLink = '';
	var cartId = "ctl00_user_panel_shopping_cart";
	var clubPrefix = "/";
</script>


			</div>
			<div class="social-network-panel">
				<div id="social_panel"><a href="https://www.linkedin.com/company/ashby-village" target='_blank' title='Visit us on LinkedIn'  class='social-panel-icon'><img src='/images/social/linkedin.png' border='0' /></a><a href="https://www.youtube.com/channel/UCuGSgUutWdy3osfi2j8MxTg" target='_blank' title='Visit us on YouTube'  class='social-panel-icon'><img src='/images/social/youtube.png' border='0' /></a><a href="https://www.facebook.com/ashbyvillage/" target='_blank' title='Visit us on FaceBook'  class='social-panel-icon'><img src='/images/social/facebook.png' border='0' /></a><div id="share_hover_button"><div id="share_button_container" title="Click here for more sharing options"></div><div id="vistoggle"><div id="share_pop_out"><div class="social-title">Share This Page</div><div id="social_close" title="Close Share Panel"></div><div class='social-objects-container'><div class="clear"></div><div class="addthis_toolbox addthis_floating_style addthis_32x32_style" addthis:url="www.ashbyvillage.org"><a class="addthis_button_facebook"></a><a class="addthis_button_linkedin"></a><a class="addthis_button_twitter" ></a> <a class="addthis_button_compact "></a><div class='share-inst-container'><div class='share-inst'>Share this page on Facebook</div><div class='share-inst'>Share this page on Linkedin</div><div class='share-inst'>Share this page on Twitter</div></div></div><div class="clear"></div></div></div></div></div><script type="text/javascript">	var addthis_config = { "data_track_addressbar": false, "data_track_clickback":false };</script><script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=xa-4d91f4710cd7e006"></script></div><script type="text/javascript">$(document).ready(function() { animateSocial(); });</script>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="layout-top-section">
	<div class="layout-wrapper">

		<div class="clear"></div>
	</div>

	<header >
		<div id="header_cell"><!--- BEGIN MOBILE TOP MENU ---->
<style>
    #mobile_top_menu {
    display:none;
    background-color:#085e6b;
    padding-top:3px;
    padding-bottom:3px;
    }
    .hamburger {
    width:32px;
    padding-top:30px;
    font-size:10px;
    color:#FFF;
    text-align:center;
    background-image:url(//s3.amazonaws.com/ClubExpressClubFiles/965649/graphics/white_menu_310957102.png);
    margin-left:5px;
    background-repeat:no-repeat;
    background-position:center top;
    }
    #mobile_layout_wrapper #mobile_top_menu {
    display:block;
    }
</style>
<div id="mobile_top_menu">
<div class="hamburger menu-link">Menu</div>
</div>
<script>
$(document).ready(function() {
$('.hamburger.menu-link').bind('click',function(e) {
 $('.menu-container').slideToggle('slow');
});
});
</script>
<!-- END MOBILE TOP MENU -->
<style>
    #mobile_layout_wrapper .layout-wrapper {
    width:100%;
    }
    .top-logo {
    float:left;
    }
    .headerbuttons {
    float:right;
    margin-top:60px;
    }
    .topbutton { padding:10px 20px; color:#FFF; text-decoration:none; font-family:Roboto, sans-serif; font-weight:bold; font-size:18px; text-transform:uppercase;border-radius:10px; letter-spacing:1px;transition:background-color .5s ease;}
    .topbutton.blue {
    background-color:#1db2ca;
    margin-right:10px;
    border:3px solid #1db2ca;
    }
    .topbutton.white {
    background-color:#FFF;
    border:3px solid #000;
    color:#000;
    box-sizing:border-box;
    margin-right:10px;
    }
    .topbutton.purple {
    background-color:#922580;
    border:3px solid #922580;
    margin-right:10px;
    }
    .topbutton.orange {
    background-color:#faa950;
    border:3px solid #faa950;
    }
    .orange:hover { background-color:#d79328; }
    .blue:hover { background-color:#167c8d; }
    .purple:hover { background-color:#661158;}
    .user-panel { display:none; }
    .loginbutton { display:none; }
    .white:hover { color:#FFF; background-color:#000; }
    .public-only,
    .member-contact-button {
    display:none;
    }
    .social-network-panel { margin-right:0px; }
    /* Smartphones (portrait and landscape) --- */
    @media (min-width : 320px) and (max-width : 480px),
    (min-width : 375px) and (max-width : 667px){
    /* Styles */
    .headerbuttons { display:none; }
    .top-logo {
    display:block;
    float:none;
    margin-left:auto;
    margin-right:auto;
    }
    }
    .mobileonly {
    text-align:right;
    margin-top:-30px;
    margin-bottom:20px;
    display:none;
    }
    .mobileonly img {
    max-width:25px;
    vertical-align:middle;
    }
    #mobile_layout_wrapper .mobileonly { display:block; }
    header, #header_cell { background-color:#FFF !important; }
    #mobile_layout_wrapper .add-me-link { display:none !important; }
    .contact-link { font-size:18px;font-weight:bold;font-family:Open Sans, sans-serif;color:#000; text-decoration:none; margin-right:10px; }
    /* iPads (portrait) --- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
    /* Styles */
    .topbutton { padding:8px 15px;  font-size:14px;}
    }
</style>
<div class="layout-wrapper">
<a href="/">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/toplogo_988042906.jpg" class="top-logo" border="0">
</a>
<div class="headerbuttons">
<div class="mobileonly" style="text-align: right;">
<a href="http://youtube.com" target="_blank" title="Visit us on YouTube"><img src="/images/social/youtube.png" border="0"></a>
<a href="http://linkedin.com" target="_blank" title="Visit us on LinkedIn"><img src="/images/social/linkedin.png" border="0"></a>
<a href="http://facebook.com" target="_blank" title="Visit us on FaceBook"><img src="/images/social/facebook.png" border="0"></a>
</div>
<div class="clear"></div>
<a class="topbutton purple public-only contact-button" href="/content.aspx?page_id=230&amp;club_id=748044">NEWSLETTER</a>
<a class="topbutton purple member-contact-button" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=180252">NEWSLETTER</a>
<a class="topbutton white volunteerbutton" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=105426">VOLUNTEER</a>
<a class="topbutton blue donatebutton" href="/content.aspx?page_id=305&amp;club_id=748044&amp;item_id=3697&amp;sl=754419620"><img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/rightarrow_1110409000.png " alt="" style="vertical-align:middle;padding-right:5px; margin-right:5px;max-height:16px;">DONATE</a>
<a class="topbutton orange loginbutton" href="/content.aspx?page_id=31&amp;club_id=748044&amp;action=login">LOGIN</a>
</div>
<div class="clear"></div>
</div>
<script>
$(document).ready(function() {
$('.add-me-link').click(function(e) {
e.preventDefault();
window.location.href="http://av.clubexpress.com/content.aspx?page_id=4&club_id=748044";
});
 if ($('#member_panel').length) {
$('.user-panel').show();
$('.member-contact-button').show();
$('.loginbutton').hide();
$('.public-only').hide();
$('.donatebutton').css('margin-right',0+'px');
$('.new-social').css('position','relative');
$('.new-social').css('top','initial');
}
else {
$('.loginbutton').show();
$('.member-contact-button').hide();
$('.user-panel').hide();
$('.top-line').css('width','auto');
$('.public-only').show();
$('.new-social').css('position','absolute');
$('.new-social').css('right',0+'px');
$('.new-social').css('z-index',100);
$('.new-social').css('top',0+'px');
}
});
</script></div>
	</header>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="bg-color-2 nav-wrapper">
	<nav >
		<div class="layout-wrapper">
			<ul class='site-menu horizontal'><li class='sub-parent'><span><span>About Us</span></span><ul class='sub-menu'><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89248">About Ashby Village</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=88437">Geographical Coverage</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89115">Frequently Asked Question</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89110">Staff,  Board & Advisors</a></span></li><li><span><a href="/content.aspx?page_id=4&club_id=748044">Contact Us</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=253484">How to reach us</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=253802">Donors & Partners</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89111">In the News & Press </a></span></li></ul></li><li class='sub-parent'><span><span>What we offer</span></span><ul class='sub-menu'><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89243">Services & Programs</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=253479">Neighborhood Groups</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=274586">Interest Groups</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89553">Professional Providers</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=277787">Discounts for Members</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=278742">Tech Tips</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=255775">What Members Say</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89114">Membership Fees</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=92248">How to Learn More</a></span></li></ul></li><li class='sub-parent'><span><span>Volunteers</span></span><ul class='sub-menu'><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89244">Why volunteer</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=255776">Volunteers Stories</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=184083">Volunteer Opportunities</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=98521">Volunteer Application</a></span></li></ul></li><li class='sub-parent'><span><span>Stories & Events</span></span><ul class='sub-menu'><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=180252">Village Voices Newsletter</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=255773">Village Stories</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=255787">Special Series</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=259023">The Village Gallery</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89111">In the News & Press </a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=302367">Videos</a></span></li></ul></li><li><span><a href="/content.aspx?page_id=4001&club_id=748044">Calendar</a></span></li><li class='sub-parent'><span><span>Join Us</span></span><ul class='sub-menu'><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89247">Become a Member</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=105426">Be a Volunteer</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=89245">Donate</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=253865">Donor Stories</a></span></li><li><span><a href="/content.aspx?page_id=22&club_id=748044&module_id=95004">Apply as a provider</a></span></li></ul></li></ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</nav>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="layout-wrapper">

</div>
<div class="clear"></div>
<div id="layout_wrapper" >
	<div id="content_column" class="watermark">
		<div id="ctl00_crumb_trail_container" class="crumb-trail-container"></div>
		<div id="page_content"><div id="ctl00_ctl00_home_page_wrapper" class="home-page">
	<!-- BEGIN TOP ROW -->
<style>
    h1 { background-color:#FFF !important; font-family:Roboto, sans-serif;padding:0px; }
    .instruction-text { background-color:#FFF; border:1px solid #cdcdcd; color:#666; font-size:12px; font-weight:normal; }
    #layout_wrapper,
    #content_column,
    #page_content {
    padding:0px;
    margin:0px;
    width:100%;
    }
    .ue-link {
    text-align:left;
    }
    .ue-event {
    max-width:95%;
    }
    .crumb-trail-container { display:none; }
    .looper {
    position: relative;
    z-index: 1;
    line-height: 1;
    width: auto;
    height: auto;
    width:100%;
    min-height:200px;
    }
    .looper:focus {
    outline: 0;
    }
    .looper .looper-inner {
    overflow: hidden;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    }
    .looper .item {
    display: none;
    position: relative;
    z-index: 3;
    }
    .looper .item.active,
    .looper .item.next,
    .looper .item.prev {
    display: block;
    }
    .looper .item.active {
    top: 0;
    left: 0;
    z-index: 4;
    }
    .looper .item > img {
    display: block;
    line-height: 1;
    }
    .looper.xfade .looper-inner {
    height: 100%;
    }
    .looper.xfade .item {
    -webkit-transition: 0.5s ease-in opacity;
    -moz-transition: 0.5s ease-in opacity;
    -o-transition: 0.5s ease-in opacity;
    transition: 0.5s ease-in opacity;
    position: absolute;
    width: 100%;
    opacity: 0;
    }
    .looper.xfade .item.go {
    opacity: 1;
    }
    .looper.xfade .item.active {
    opacity: 1;
    }
    .looper.xfade .item.active.go {
    opacity: 0;
    }
    .looper.slide.xfade .item {
    -webkit-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
    -moz-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
    -o-transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
    transition: 0.5s ease-in-out left, 0.5s ease-in opacity;
    }
    .looper.slide .item {
    -webkit-transition: 0.5s ease-in-out left;
    -moz-transition: 0.5s ease-in-out left;
    -o-transition: 0.5s ease-in-out left;
    transition: 0.5s ease-in-out left;
    }
    .looper.slide .item.next,
    .looper.slide .item.prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
    .looper.slide .item.next {
    left: 100%;
    }
    .looper.slide .item.prev {
    left: -100%;
    }
    .looper.slide .item.active.prev,
    .looper.slide .item.active.next {
    position: relative;
    left: 0;
    }
    .looper.slide .item.go {
    left: 0;
    }
    .looper.slide .item.go.active {
    left: -100%;
    }
    .looper.slide .item.go.active.prev {
    left: 100%;
    }
    .looper.slide.right .item.next {
    left: -100%;
    }
    .looper.slide.right .item.prev {
    left: 100%;
    }
    .looper.slide.right .item.go {
    left: 0;
    }
    .looper.slide.right .item.go.active {
    left: 100%;
    }
    .looper.slide.right .item.go.active.prev {
    left: -100%;
    }
    .looper.slide.down .looper-inner {
    height: 100%;
    }
    .looper.slide.down .item {
    -webkit-transition: 0.5s ease-in-out top;
    -moz-transition: 0.5s ease-in-out top;
    -o-transition: 0.5s ease-in-out top;
    transition: 0.5s ease-in-out top;
    }
    .looper.slide.down .item.next,
    .looper.slide.down .item.prev {
    left: 0;
    }
    .looper.slide.down .item.next {
    top: -100%;
    }
    .looper.slide.down .item.prev {
    top: 100%;
    }
    .looper.slide.down .item.go {
    top: 0;
    }
    .looper.slide.down .item.go.active {
    top: 100%;
    left: 0;
    }
    .looper.slide.down .item.go.active.prev {
    top: -100%;
    }
    .looper.slide.down.xfade .item {
    -webkit-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    -moz-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    -o-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    }
    .looper.slide.up .looper-inner {
    height: 100%;
    }
    .looper.slide.up .item {
    -webkit-transition: 0.5s ease-in-out top;
    -moz-transition: 0.5s ease-in-out top;
    -o-transition: 0.5s ease-in-out top;
    transition: 0.5s ease-in-out top;
    }
    .looper.slide.up .item.next,
    .looper.slide.up .item.prev {
    left: 0;
    }
    .looper.slide.up .item.next {
    top: 100%;
    }
    .looper.slide.up .item.prev {
    top: -100%;
    }
    .looper.slide.up .item.go {
    top: 0;
    }
    .looper.slide.up .item.go.active {
    top: -100%;
    left: 0;
    }
    .looper.slide.up .item.go.active.prev {
    top: 100%;
    }
    .looper.slide.up.xfade .item {
    -webkit-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    -moz-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    -o-transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    transition: 0.5s ease-in-out top, 0.5s ease-in opacity;
    }
    .looper-control {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 10px;
    width: 40px;
    height: 40px;
    margin-top: -60px;
    font-size: 30px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    background: #333333;
    border: 3px solid #ffffff;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    }
    .looper-control.right {
    left: auto;
    right: 10px;
    }
    .looper-control:hover {
    color: #ffffff;
    text-decoration: none;
    text-shadow: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
    }
    .looper-nav {
    background: transparent;
    text-align: center;
    list-style-type: none;
    margin: 0;
    }
    .looper-nav > li {
    display: inline-block;
    font-size: 36px;
    }
    .looper-nav > li a {
    color: #049cdb;
    text-decoration:none;
    }
    .looper-nav > li a:hover {
    color: #036690;
    }
    .looper-nav > li.active a,
    .looper-nav > li.active a:hover {
    color: #036690;
    }
    .setuptable td,
    .navtable td {
    padding:5px;
    border:1px solid #000000;
    white-space:nowrap;
    }
    .setuptable th { background-color:#cdcdcd; }
    .setuptable,.navtable { display:none;border-collapse:collapse; }
    body.editor-body .setuptable,
    body.editor-body .navtable {
    display:block;
    margin-bottom:20px;
    }
    body.editor-body .navdiv {
    display:none;
    }
    .itemimage1, .itemimage2, .itemimage3, .itemimage4, .itemimage5 { width:100%; }
    .optitem4.active,
    .optitem5.active { display:block; }
    .removeditem { display:none !important; }
    body.editor-body .item {
    display:block;
    margin-bottom:20px;
    border:1px dashed #000000;
    height:500px;
    }
    .looper .item a {
    display:block;
    min-height:360px;
    }
    body.editor-body .item a {
    display:block;
    min-height:360px;
    background-color:#cdcdcd;
    }
    body.editor-body .looper {
    display:block;
    min-height:3000px;
    height:3000px;
    }
    .slide-caption {
    display:block;
    margin-top:20px;
    font-size:17px;
    font-family:Roboto, sans-serif;
    line-height:24px;
    font-weight:300;
    }
    .looper-nav { display:none; }
    .leftside,
    .rightside {
    float:left;
    }
    .leftside { width:70%; }
    .rightside { width:30%; }
    .innerleft {
    padding-right:2%;
    }
    .ue {
    width:100%;
    height:259px;
    overflow:auto;
    border:none;
    margin-bottom:10px;
    }
    .ue-event { line-height:17px; }
    .ue-title {
    display:none;
    }
    .ue-date,.ue-name {
    float:left;
    clear:left;
    padding-left:0px;
    text-align:left;
    font-family:Roboto, sans-serif;
    width:100%;
    font-size:17px;
    }
    .ue-name a {
    font-weight:normal;
    color:#1db2ca;
    }
    .ue-name a:hover {
    text-decoration:underline;
    }
    .ue-date br { display:none; }
    .ue-event {
    margin-bottom:10px;
    }
    .ue-date {
    font-weight:bold;
    }
    h1 { color:#1fb1ca; text-transform:uppercase; font-size:28px; letter-spacing:1px; font-family:Roboto, sans-serif;font-weight:bold;}
    .ce-button {
    background-color:#1fb1ca !important;
    color:#FFF !important;
    font-family:Roboto, sans-serif;
    border:2px solid #FFF !important;
    text-transform:uppercase;
    font-weight:bold;
    background-image:none;
    border-radius:10px;
    transition:background-color .5s ease;
    }
    .ce-button:hover {
    background-image:none;
    background-color:#fdab2e !important;
    }
    .rightside { text-align:center; }
    .evbutton { padding-top:10px; padding-bottom:10px; font-size:17px;display:inline-block; margin-left:auto; margin-right:auto; }
    /* Smartphones (portrait and landscape) --- */
    @media (min-width : 320px) and (max-width : 480px),
    (min-width : 375px) and (max-width : 667px){
    /* Styles */
    .leftside,
    .rightside {
    width:100%;
    clear:left;
    margin-bottom:20px;
    }
    .innerleft { padding-left:2%; }
    .rightside { padding-left:2%; }
    .looper .item a {
    min-height: 160px;
    }
    .ue {
    min-height:299px;
    text-align:left;
    }
    }
    /* iPads (portrait) --- */
    @media only screen
    and (min-device-width : 760px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
    /* Styles */
    .looper .item a {
    min-height: 276px;
    }
    .evbutton {
    white-space:normal;
    }
    .ue {
    width: 100%;
    height: 229px;
    }
    }
    /* iPads (landscape) --- */
    @media only screen
    and (min-device-width : 760px)
    and (max-device-width : 1280px)
    and (orientation : landscape) {
    /* Styles */
    .ue {
    height:299px;
    }
    }
</style>
<table class="setuptable">
    <tbody>
        <tr>
            <th>Slide #</th>
            <th>Image URL</th>
            <th>Endpoint URL</th>
        </tr>
        <tr>
            <td>Slide 1</td>
            <td id="slide1image">//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/message-HP-2017-09_1267848780.jpg</td>
            <td id="slide1url">#
            </td>
        </tr>
        <tr>
            <td>Slide 2</td>
            <td id="slide2image"><span>//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/appreciation_1886104346.jpg</span></td>
            <td id="slide2url">#</td>
        </tr>
        <tr>
            <td>Slide 3</td>
            <td id="slide3image"><span>//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/Ashby_Village_Board_Member_2016_1270650505.jpg</span></td>
            <td id="slide3url">#</td>
        </tr>
        <tr>
            <td>Slide 4</td>
            <td id="slide4image"><span>//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/man-woman-porch-diversity_resized_235529758.jpg</span></td>
            <td id="slide4url">#<br>
            </td>
        </tr>
        <tr>
            <td>Slide 5</td>
            <td id="slide5image"><span>//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/connection2women_resized_2144111233.jpg</span></td>
            <td id="slide5url">#</td>
        </tr>
        <tr>
            <td><span>Slide 6</span></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><span>Slide 7</span></td>
            <td>&nbsp;<span></span></td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<table class="navtable">
    <tbody>
        <tr>
            <td class="showinst">Show Navigation Controls? Y/N</td>
            <td id="shownav">Y</td>
        </tr>
    </tbody>
</table>
<script>
$(document).ready(function() {
$('.opt4').hide();
$('.opt5').hide();

var shownav = $('#shownav').text();
var slide1url = $('#slide1url').text();
var slide2url = $('#slide2url').text();
var slide3url = $('#slide3url').text();
var slide4url = $('#slide4url').text();
var slide5url = $('#slide5url').text();


var slide1image = $('#slide1image').text();
var slide2image = $('#slide2image').text();
var slide3image = $('#slide3image').text();
var slide4image = $('#slide4image').text();
var slide5image = $('#slide5image').text();

if ($('#slide4image').text().trim() != "none") {
$(".itemimage4").attr("src", slide4image);
$(".itemlink4").attr("href", slide4url);
$('.opt4').show();
}
if ($('#slide5image').text().trim() != "none") {
$(".itemimage5").attr("src", slide5image);
$(".itemlink5").attr("href", slide5url);
$('.opt5').show();
}


if ($('#slide4image').text().trim() == "none") {
$('.optitem4').remove();
$('.optitem4').addClass('removeditem');
}
if ($('#slide5image').text().trim() == "none") {
$('.optitem5').addClass('removeditem');
$('.optitem5').remove();
}


$(".itemlink1").attr("href", slide1url);
$(".itemlink2").attr("href", slide2url);
$(".itemlink3").attr("href", slide3url);
$(".itemimage1").attr("src", slide1image);
$(".itemimage2").attr("src", slide2image);
$(".itemimage3").attr("src", slide3image);



if (shownav == "n" || shownav == "N") {
$(".navdiv").hide();
}
});
</script>
<div class="layout-wrapper" style="margin-top:20px;">
<div class="firstrow">
<div class="leftside">
<div class="innerleft">
<!-- CHANGE THE 7000 BELOW TO SECONDS * 1000 FOR TIMING BETWEEN SLIDES -->
<div class="looper slide" id="bulletLooper" data-interval="940000" data-looper="go">
<div class="looper-inner">
<!-- SLIDE 1 -->
<div class="item"><a class="itemlink1" href="#">
<img class="itemimage1" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/loading_786342041.jpg"></a>
<div class="slide-caption">
“It’s beautiful being part of a community in which giving and receiving go round and round!<span style="font-family: Roboto, sans-serif; font-size: 16px;">”</span> -&nbsp;<em>Bob D.</em></div>
</div>
<!-- SLIDE 2 -->
<div class="item"><a class="itemlink2" href="#">
<img class="itemimage2" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/loading_786342041.jpg"></a>
<div class="slide-caption">
“I am a "dreamer". The details of the dream have changed over the years as my life situation has changed. Ashby Village is a community where a big part of this dream is embodied.<span style="font-family: Roboto, sans-serif; font-size: 16px;">”</span> - <em>Bill F.</em></div>
</div>
<!-- SLIDE 3 -->
<div class="item"><a class="itemlink3" href="#">
<img class="itemimage3" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/loading_786342041.jpg"></a>
<div class="slide-caption"><span style="font-family: Roboto, sans-serif;">“</span>The quality of volunteer services in just my first week amazed me. &nbsp;I knew Berkeley was special, but this topped my expectations.<span style="font-family: Roboto, sans-serif; font-size: 16px;">”</span> -<i>&nbsp;Brenda W.</i></div>
</div>
<!-- SLIDE 4 -->
<div class="item optitem4"><a class="itemlink4" href="#">
<img class="itemimage4" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/loading_786342041.jpg"></a>
<div class="slide-caption"><span style="font-family: Roboto, sans-serif; font-size: 16px;">“</span>Ashby Village opens up all kinds of possibilities to seniors who want to remain in their own homes. I am very glad to  have met so many wonderful people!<span style="font-family: Roboto, sans-serif; font-size: 16px;">”</span> - <em>Mairin Malarka-Meyer</em>
</div>
</div>
<!-- SLIDE 5 -->
<div class="item optitem5"><a class="itemlink5" href="#">
<img class="itemimage5" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/loading_786342041.jpg"></a>
<div class="slide-caption"><span style="font-family: Roboto, sans-serif; font-size: 16px;">“</span>As a volunteer for Ashby Village, I have met the most amazing people with such interesting and diverse backgrounds – so very rewarding!” -&nbsp;<em>Melissa B.</em>
</div>
</div>
<!-- END SLIDES PASTE BEFORE HERE -->
</div>
<div class="navdiv">
<a class="looper-control" href="#bulletLooper" data-looper="prev">
<img style="margin-top: 8px; margin-left: -3px;" src="//s3.amazonaws.com/ClubExpressClubFiles/368691/graphics/left_arrow_1768892354.png">
</a>
<a class="looper-control right" href="#bulletLooper" data-looper="next">
<img style="margin-top: 8px; margin-left: 3px;" alt="" src="//s3.amazonaws.com/ClubExpressClubFiles/368691/graphics/right_arrow_710789292.png" border="0">
</a>
<ul class="looper-nav">
    <li><a href="#bulletLooper" data-looper="to" data-args="1">•</a></li>
    <li><a href="#bulletLooper" data-looper="to" data-args="2">•</a></li>
    <li><a href="#bulletLooper" data-looper="to" data-args="3">•</a></li>
    <li class="opt4"><a href="#bulletLooper" data-looper="to" data-args="4">•</a></li>
    <li class="opt5"><a href="#bulletLooper" data-looper="to" data-args="5">•</a></li>
</ul>
</div>
</div>
<script>
        jQuery(function($){
            $('#bulletLooper').on('shown', function(e){
                $('.looper-nav > li', this)
                        .removeClass('active')
                        .eq(e.relatedIndex)
                            .addClass('active');
            });
        });
    </script>
<script>
(function(t,e,i,n){"use strict";var s=function(){var t,e=i.body||i.documentElement,s={transition:"transitionend",WebkitTransition:"webkitTransitionEnd",MozTransition:"transitionend",MsTransition:"MSTransitionEnd",OTransition:"oTransitionEnd otransitionend"};for(t in s)if(e.style[t]!==n)return s[t];return!1}(),o=function(e,i){this.$element=t(e),this.options=i,this.looping=!1;var n=this;this.$element.attr("tabindex",0).keydown(function(t){switch(t.which){case 37:n.prev();break;case 39:n.next();break;default:return}t.preventDefault()}).find(".item").attr("aria-hidden",!0),"hover"===this.options.pause&&this.$element.on("mouseenter",t.proxy(this.pause,this)).on("mouseleave",t.proxy(this.loop,this)),this.$element.trigger("init")};o.prototype={loop:function(e){return e||(this.paused=!1),this.interval&&(clearInterval(this.interval),this.interval=null),this.options.interval&&!this.paused&&(this.interval=setInterval(t.proxy(this.next,this),this.options.interval)),this},pause:function(t){return t||(this.paused=!0),this.$element.find(".next, .prev").length&&s&&(this.$element.trigger(s),this.loop()),clearInterval(this.interval),this.interval=null,this},next:function(){return this.looping?this:this.go("next")},prev:function(){return this.looping?this:this.go("prev")},to:function(e){if(this.looping)return this;--e;var i=this.$element.find(".item"),n=i.filter(".active"),s=i.index(n);return e>i.length-1||0>e?this:s==e?this.pause().loop():this.go(t(i[e]))},go:function(e){if(this.looping)return this;var i=this.$element.find(".item");if(!i.length)return this;var n=i.filter(".active"),o=i.index(n),a="string"==typeof e?n[e]():e,r=i.index(a),l=this.interval,h="string"==typeof e?e:-1==o&&-1==r||r>o?"next":"prev",p="next"==h?"first":"last",d=this,u=function(e,n,s){if(this.looping){this.looping=!1,e.removeClass("active go "+s).attr("aria-hidden",!0),n.removeClass("go "+s).addClass("active").removeAttr("aria-hidden");var o=t.Event("shown",{relatedTarget:n[0],relatedIndex:i.index(n)});this.$element.trigger(o)}};if(a=a&&a.length?a:i[p](),a.hasClass("active"))return this;var f=t.Event("show",{relatedTarget:a[0],relatedIndex:i.index(a[0])});if(this.$element.trigger(f),f.isDefaultPrevented())return this;if(this.looping=!0,l&&this.pause(),this.$element.hasClass("slide")||this.$element.hasClass("xfade"))if(s)a.addClass(h),n.addClass("go "+h),a[0].offsetWidth,a.addClass("go"),this.$element.one(s,function(){n.length&&u.call(d,n,a,h)}),setTimeout(function(){u.call(d,n,a,h)},this.options.speed);else{var c,v,g={},m={};c=n.attr("style"),v=a.attr("style"),this.$element.hasClass("xfade")&&(g.opacity=0,m.opacity=1,a.css("opacity",0)),this.$element.hasClass("slide")&&(this.$element.hasClass("up")?(g.top="next"==h?"-100%":"100%",m.top=0):this.$element.hasClass("down")?(g.top="next"==h?"100%":"-100%",m.top=0):this.$element.hasClass("right")?(g.left="next"==h?"100%":"-100%",m.left=0):(g.left="next"==h?"-100%":"100%",m.left=0)),a.addClass(h),n.animate(g,this.options.speed),a.animate(m,this.options.speed,function(){u.call(d,n,a,h),n.attr("style",c||""),a.attr("style",v||"")})}else u.call(d,n,a,h);return(l||!l&&this.options.interval)&&(!e||"string"==typeof e&&e!==this.options.pause||e.length&&"to"!==this.options.pause)&&this.loop(),this}},t.fn.looper=function(e){var i=arguments;return this.each(function(){var n=t(this),s=n.data("looperjs"),a=t.extend({},t.fn.looper.defaults,t.isPlainObject(e)?e:{}),r="string"==typeof e?e:e.looper,l=e.args||i.length>1&&Array.prototype.slice.call(i,1);s||n.data("looperjs",s=new o(this,a)),"number"==typeof e?s.to(e):r?l?s[r].apply(s,l.length?l:(""+l).split(",")):s[r]():a.interval?s.loop():s.go()})},t.fn.looper.defaults={interval:5e3,pause:"hover",speed:500},t.fn.looper.Constructor=o,t(function(){t("body").on("click.looper","[data-looper]",function(e){var i=t(this);if("go"!=i.data("looper")){var n,s=t(i.data("target")||(n=i.attr("href"))&&n.replace(/.*(?=#[^\s]+$)/,"")),o=t.extend({},s.data(),i.data());s.looper(o),e.preventDefault()}}),t('[data-looper="go"]').each(function(){var e=t(this);e.looper(e.data())})})})(jQuery,window,document);
</script>
&nbsp;
<div class="clear"></div>
</div>
</div>
<!--END LEFT SIDE -->
<div class="rightside">
<h1 style="text-align:left;">Upcoming Events</h1>
<div id="e|5|" class="ce-widget ue" style="width:305px;" title="Upcoming Events">
<div class="widget-loading"><img src="images/loading3.gif"></div>
<div class="placeholder-type">Upcoming Events</div>
<div class="placeholder-title">Upcoming Events</div>
</div>
<div class="clear"></div>
<div class="clear"></div>
<a href="/content.aspx?page_id=2&amp;club_id=748044" class="ce-button evbutton" style="">more events</a>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</div>
<!-- END WRAPPER -->
<!-- END TOP ROW --><!-- BEGIN SECOND ROW -->
<style>
    .trio {
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    margin-bottom:10px;
    }
    .breakout1 {
    padding-top:40px;padding-bottom:40px;background-color:#e2f5f9;margin-top:10px; margin-bottom:10px;text-align:center;
    }
    .breakout1-text,
    .breakout1-header {
    font-family:Roboto, sans-serif;
    color:#272727;
    font-size:18px;
    line-height:24px;
    text-align:center;
    font-weight:300;
    margin-left:auto;
    margin-right:auto;
    }
    strong { font-weight:700; }
    .breakout1-header {
    font-size:30px;
    margin-bottom:20px;
    }
    .breakout1 .ce-button {
    background-color:#1fb1ca !important;
    color:#FFF !important;
    font-family:Roboto, sans-serif;
    border:2px solid #FFF !important;
    text-transform:uppercase;
    font-weight:bold;
    background-image:none;
    border-radius:10px;
    transition:background-color .5s ease;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    }
    .breakout1 .ce-button:hover {
    background-image:none;
    background-color:#fdab2e !important;
    }
    .breakout1-text { margin-top:20px; margin-bottom:20px; width:90%;}
</style>
<div style="" class="breakout1">
<div class="layout-wrapper">
<div class="breakout1-header">Welcome to Ashby Village!</div>
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/trio-icon_815586107.png" class="trio" border="0">
<div class="breakout1-text">
Ashby Village is an innovative, nonprofit organization that connects members with each other and with the resources we need to <strong>remain active and independent while aging in our homes and communities</strong>. <br>
<br>
We provide <strong>staff coordination, volunteer services and programs </strong>for our members that are essential for continuing to age effectively in the diverse, multi-generational neighborhoods we all cherish.<br>
Our members are 50 years of age or older who reside in <strong>Berkeley, Albany, El Cerrito, Kensington, Emeryville</strong>, and parts of Oakland.
</div>
<a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=89248" class="ce-button breakout-button" style="margin-left: auto;margin-right: auto;">LEARN MORE</a>
<div class="clear"></div>
</div>
</div>
<!-- END SECOND ROW --><!-- THIRD ROW -->
<style>
    body.editor-body .column {
    border: 1px dashed #000;
    }
    body.editor-body .inner-column {
    border: 1px dashed #cdcdcd;
    min-height: 50px;
    }
    body.editor-body .highlighted {
    box-shadow:0px 0px 8px #219cf2;
    }
    .resp-row {
    position:relative;
    }
    .img-row img {
    max-width:25%;
    }
    .img-left-flt {
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    margin-left:0px;
    }
    .img-right-flt {
    float:right;
    margin-left:10px;
    margin-bottom:10px;
    margin-right:0px;
    }
    #mobile_content_column .layout-wrapper { width:100%; }
    #setup_div { display:none; }
    body.editor-body #setup_div { display:block; }
    #setup_div { margin-bottom:20px; }
    #setup_div table { margin-top:10px; margin-bottom:10px; }
    #setup_div table td { padding:10px; }
    .colimage {
    background-color:#cdcdcd;
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    background-position:center top;
    min-height:220px;
    }
    .titlebox {
    background-color:#39284c;
    padding-top:10px;
    padding-bottom:10px;
    box-sizing:border-box;
    }
    .innertitle {
    padding-left:10px;
    padding-right:10px;
    color:#FFF;
    font-family:Roboto, sans-serif;
    font-size:20px;
    font-weight:bold;
    }
    .details-box {
    padding:10px;
    }
    .details-description {
    float:left; max-width:60%;
    font-family:Roboto, sans-serif;
    }
    .details-button {
    clear:left;
    margin-top:10px;
    text-align:center;
    white-space:normal;
    }
    .details-button a,
    .details-button .ce-button {
    background-image:none !important;
    color:#FFF !important;
    transition:background-color .5s ease;
    white-space:normal;
    border:none;
    box-shadow:none;
    border-radius:0px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:Roboto, sans-serif;
    font-size:18px;
    display:block;
    border-radius:10px;
    text-transform:uppercase;
    }
    .details-button .ce-button:hover {
    background-image:none !important;
    color:#FFF !important;
    border:none;
    box-shadow:none;
    transition:background-color .5s ease;
    }
    body.editor-body .details-button {
    border:1px dashed #000;
    min-height:25px;
    }
    #setupsection {
    display:none;
    }
    body.editor-body #setupsection {
    display:block;
    margin-bottom:20px;
    }
    #setupsection table th,
    #setupsection table td {
    padding:5px;
    }
    #setupsection table th {
    font-weight:bold;
    background-color:#cdcdcd;
    }
    .padded-inner { padding:10px; box-sizing:border-box; font-family:Roboto, sans-serif;font-size:17px; line-height:24px;color:#272727;}
    .columntitle { font-family:Roboto, sans-serif; font-size:28px; margin-top:15px;margin-bottom:10px;text-transform:uppercase;font-weight:bold;line-height:32px; }
    .inner-column { border:1px solid #cdcdcd; }
    .colbutton1 {background-color:#fdab2e !important; }
    .colbutton1:hover {background-color:#d79328 !important; }
    .colbutton2 {background-color:#1db2ca !important; }
    .colbutton2:hover {background-color:#147585 !important; }
    .colbutton3 {background-color:#922580 !important; }
    .colbutton3:hover {background-color:#651959 !important; }
    .colimage { background-size:cover; background-position:center center; }
    /* iPads (portrait) --- */
    @media only screen
    and (min-device-width : 768px)
    and (max-device-width : 1024px)
    and (orientation : portrait) {
    /* Styles */
    .colimage {
    min-height:150px;
    }
    }
</style>
<div id="setupsection">
<table>
    <tbody>
        <tr>
            <th>Button Name</th>
            <th>Destination URL</th>
        </tr>
        <tr>
            <td>Left column button</td>
            <td id="left_dest">#</td>
        </tr>
        <tr>
            <td>Center column button</td>
            <td id="center_dest">#</td>
        </tr>
        <tr>
            <td>Right column button</td>
            <td id="right_dest">#</td>
        </tr>
    </tbody>
</table>
</div>
<div id="setup_div">
<div class="instruction-text">
For the column images: Copy or paste the location of the image URL into the cell below. You can get the URL of the image that you've uploaded to the web graphics admin by viewing the image and then right clicking on the image "copy image location" or "copy image address". DO NOT FORMAT THE TEXT OR USE THE LINK BUILDER TO INSERT A LINK TO IMAGE. You must type or copy/paste the url of the image into the cell.
</div>
<table>
    <tbody>
        <tr>
            <td colspan="2"><strong>Background Image</strong></td>
        </tr>
        <tr>
            <td>Image 1 URL</td>
            <td id="image1_url">//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/global_issues_704305445.jpg</td>
        </tr>
        <tr>
            <td>Image 2 URL</td>
            <td id="image2_url">//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/connection_diversity_cropped_2103449139.jpg</td>
        </tr>
        <tr>
            <td>Image 3 URL</td>
            <td id="image3_url">//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/3_women_diversity_1868400420.jpg</td>
        </tr>
    </tbody>
</table>
</div>
<div class="layout-wrapper">
<div class="resp-row">
<div class="column third three-column">
<div class="inner-column">
<div class="padded-inner">
<div id="image1" class="colimage"></div>
<div class="columntitle"><span style="color: rgb(255, 0, 0);">  </span></div>
<span style="font-size: 28px; font-weight: bold; color: rgb(39, 39, 39);"></span>
<div class="columntitle" style="color: rgb(39, 39, 39);">INTEREST GROUPS</div>
<span style="font-size: 17px; color: rgb(39, 39, 39);">Ashby Village interest groups spring up when members or volunteers express an interest and then put one together.&nbsp;<br>
<span style="font-family: Roboto; font-size: 16px;">There may be an interest group just waiting for you. If not, you might organize one.<br>
</span></span><br>
<div class="details-button"><a class="ce-button colbutton1" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=274586" id="left_button">DISCOVER THE GROUPS!</a>
</div>
</div>
</div>
</div>
<div class="column third three-column">
<div class="inner-column">
<div class="padded-inner">
<div id="image2" class="colimage"></div>
<div class="columntitle">our services</div>
Need driving to doctor's appointment? Small repair? Help with your computer?Support after hospitalization? Or just an opportunity to engage in conversation over a potluck? Ashby Village can offer this and much more!&nbsp;<br>
<div class="details-button"><a class="ce-button colbutton2" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=89243" id="center_button">discover our services</a>
</div>
</div>
</div>
</div>
<div class="column third three-column">
<div class="inner-column">
<div class="padded-inner">
<div id="image3" class="colimage"></div>
<div class="columntitle">village voiceS </div>
<span style="font-size: 17px; font-family: Roboto, sans-serif; color: rgb(39, 39, 39);">Read the our monthly newsletter.&nbsp;<br>
</span>Learn  about Ashby Village day-to-day life,  programs and events; read about our stories of giving, receiving and connecting.&nbsp;<br>
<br>
<div class="details-button"><a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=180252&amp;sl=657706246" class="ce-button colbutton3" id="right_button">GO TO THE NEWSLETTER</a>
</div>
</div>
</div>
</div>
<div class="clear"></div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
var $image1url = $('#image1_url').text();
var $image2url = $('#image2_url').text();
var $image3url = $('#image3_url').text();
$('#image1').css('background-image','url('+$image1url+')');

$('#image2').css('background-image','url('+$image2url+')');

$('#image3').css('background-image','url('+$image3url+')');
});
</script>
<script>
$(document).ready(function() {
var lefturl = $('#left_dest').text();
var centerurl = $('#center_dest').text();
var righturl = $('#right_dest').text();
console.log(lefturl);
console.log(righturl);

$('#left_button').click(function() {
window.location.href=lefturl;
});
$('#center_button').click(function() {
window.location.href=centerurl;
});

$('#right_button').click(function() {
window.location.href=righturl;
});
});
</script>
<!-- END THIRD ROW --><!-- BEGIN FOURTH ROW -->
<style>
    .prettyrow .column { padding:0px; position:relative; margin-top:40px; }
    .prettyrow .inner-column { border:none; }
    .pretty1 { background-image:url(//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/bottomhalf1_257166688.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    min-height:380px;
    box-sizing:border-box;
    }
    .pretty2 {
    background-image:url(//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/bottomhalf2_520732309.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    min-height:380px;
    background-position:center center;
    box-sizing:border-box;
    }
    body.editor-body .pretty1,
    body.editor-body .pretty2 {
    min-height:380px;
    }
    .prettyoverlay {
    position:absolute;
    top:50%;
    left:10%;
    right:10%;
    float:left;
    font-size:40px;
    font-family:Roboto, sans-serif;
    color:#FFF;
    margin-top:-40px;
    text-align:center;
    }
    .prettybutton {
    background-color:#1fb1ca;
    font-size:20px;
    font-family:Roboto, sans-serif;
    color:#FFF;
    text-decoration:none;
    color:#FFF;
    padding:10px 25px;
    border-radius:10px;
    border:3px solid #FFF;
    transition:background .5s ease;
    text-transform:uppercase;
    font-weight:bold;
    white-space:normal;
    display:inline-block;
    }
    .prettybutton:hover {
    background-color:#fdab2e;
    }
    .prettyrow .inner-column.pretty1 {
    border-right:1px solid #fdab2e;
    }
    /* Smartphones (portrait and landscape) --- */
    @media (min-width : 320px) and (max-width : 480px),
    (min-width : 375px) and (max-width : 667px){
    /* Styles */
    .prettyrow .column.half {
    clear:left;
    width:100%;
    }
    .pretty1,
    .pretty2 {
    min-height:250px;
    }
    }
    /* iPads (portrait) --- */
    @media only screen
    and (min-device-width : 760px)
    and (max-device-width : 1280px)
    and (orientation : portrait) {
    /* Styles */
    .pretty1,
    .pretty2 {
    min-height:250px;
    }
    }
    a:hover {
    text-decoration:none !important;
    }
    .ue a:hover {
    color:#000 !important;
    text-decoration:underline !important;
    }
</style>
<div class="resp-row prettyrow highlighted">
<div class="column half">
<div class="inner-column pretty1">
<div class="prettyoverlay"><a class="prettybutton" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=270562&amp;sl=744520297;">tEAM OF THE MONTH</a></div>
</div>
</div>
<div class="column half">
<div class="inner-column pretty2">
<div class="prettyoverlay">
<a class="prettybutton" href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=89244">Volunteer opportunities</a>&nbsp;<span class="Apple-tab-span" style="white-space: pre;">	</span></div>
</div>
</div>
<div class="clear"></div>
</div>
<!-- END FOURTH ROW -->


</div>

</div>
		<div class="clear"></div>
	</div>
</div>

<div class="clear"></div>
<div class="below-content bg-color-2">
	<div class="layout-wrapper">
		<div class='cb-common cb-8'><style>
    .cb-8 { padding-bottom:0px; }
    .twothirds,
    .onethird {
    float:left;
    }
    .twothirds { width:66%; }
    .onethird { width:33%; }
    .footer-col {
    width:31%;
    float:left;
    margin-right:2%;
    font-family:Roboto, sans-serif;
    }
    .footerlogo img { max-width:100%; margin-top:5px; margin-left:5px;}
    .footerlogo { text-align:right; color:#fdab2d; }
    body.editor-body .footerlogo {
    box-sizing:border-box;
    border:1px dashed #FFFFFF;
    min-height:50px;
    }
    .footerlogo a { text-decoration:none; }
    .footer-col a {
    color:#FFF;
    text-decoration:none;
    display:block;
    line-height:28px;
    font-weight:normal;
    font-family:Roboto, sans-serif;
    font-size:16px;
    }
    .footer-col a:hover {
    text-decoration:underline;
    }
    body.editor-body .footer-col {
    border:1px dashed #303030;
    min-height:50px;
    box-sizing:border-box;
    }
    #mobile_layout_wrapper .mobilefooter {
    float:none !important;
    width:98% !important;
    margin-left:auto;
    margin-right:auto;
    }
    .oldstaff, .oldstaff a {
    color:#FFF;
    text-decoration:none;
    }
</style>
<div style="width:100%;min-height:50px;padding-top:20px;padding-bottom:20px;background-color:#373737;">
<article>
<div style="width:100%;float:left;" class="mobilefooter">
<div class="clear"></div>
<div class="twothirds">
<div class="footer-col">
<a href="/content.aspx?page_id=0&amp;club_id=748044">Home</a>
<a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=89247&amp;sl=647662306  ">Become a member</a>
<a href=" http://av.clubexpress.com/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=105426 ">Be a Volunteer</a>
<a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=89245">Donate</a>
</div>
<div class="footer-col">
&nbsp;
</div>
<div class="footer-col">
<a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=180252">Newsletter</a>
<a href="/content.aspx?page_id=2&amp;club_id=748044">Calendar</a>
<a href="/content.aspx?page_id=4&amp;club_id=748044">Contact us</a>
<a href="/content.aspx?page_id=31&amp;club_id=748044&amp;action=login">Member Login</a>
</div>
<div class="clear"></div>
</div>
<div class="onethird">
<div class="footerlogo" style="text-align:right;">
<span style="font-family: FuturaMdMedium; font-size: 24px;">Ashby Village</span><br>
<span style="line-height: 21px; font-size: 15px; font-family: &quot;Open Sans&quot;, sans-serif;">1821 Catalina Ave<br>
Berkeley, CA 94707<br>
510 204 9200<br>
<a href="mailto:info@ashbyvillage.org" style="color:#fdab2d;font-size:15px; font-family:Open Sans, sans-serif; text-decoration:none;">info@ashbyvillage.org</a></span><br>
<a href="https://www.youtube.com/channel/UCuGSgUutWdy3osfi2j8MxTg">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/yellow_youtube_911634559.png" border="0">
</a>
<a href="https://www.linkedin.com/company/ashby-village">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/yellow_linkedin_1868862896.png" border="0">
</a>
<a href="https://www.facebook.com/ashbyvillage/">
<img src="//s3.amazonaws.com/ClubExpressClubFiles/748044/graphics/yellow_fb_287328881.png" border="0">
</a>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="clear"></div>
</div>
</article>
<div class="clear"></div>
<br>
<br>
<div class="oldstaff">
<div style="font-size: 14px; text-align: center;"> <a href="/content.aspx?page_id=15&amp;club_id=748044">STAFF</a> &nbsp; • &nbsp; <a href="/content.aspx?page_id=22&amp;club_id=748044&amp;module_id=110812&amp;actr=4">COORDINATORS</a> &nbsp;&nbsp; • &nbsp; <a href="/content.aspx?page_id=2153&amp;club_id=748044">FORUMS</a> </div>
</div>
</div>
<div class="clear"></div>
<div class="clear"></div></div>
	</div>
</div>
<div class="clear"></div>
<div class="bottom-wrapper bg-color-2">
	<footer>
		<div class="layout-wrapper">


<div class="footer-container">
	<a href="/">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="/content.aspx?page_id=4&club_id=748044" id="ctl00_footer_contact_us_link" >Contact Us</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<span id="ctl00_footer_copyright_panel">Copyright © 2019 - All Rights Reserved</span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="#" onclick="openModalPopup('/popup.aspx?page_id=126&club_id=748044', 600, 480, ''); return false;" id="ctl00_footer_terms_link"  rel='nofollow'>Terms of Use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	<a href="#" onclick="openModalPopup('/popup.aspx?page_id=125&club_id=748044', 600, 480, ''); return false;" id="ctl00_footer_privacy_link"  rel='nofollow'>Privacy Policy</a>
	<br />
	<a href="https://www.clubexpress.com/landing.aspx?source=AV" class="footer-link" rel="nofollow" target="_blank">Powered By&nbsp;<img src="/images/powered_by.png" alt="" align="absmiddle" border="0" /></a>
</div>

		</div>
	</footer>
	<div class="clear"></div>
</div>



<script type="text/javascript">
//<![CDATA[
window.__TsmHiddenField = $get('script_manager_TSM');;(function() {
                        function loadHandler() {
                            var hf = $get('style_sheet_manager_TSSM');
                            if (!hf._RSSM_init) { hf._RSSM_init = true; hf.value = ''; }
                            hf.value += ';Telerik.Web.UI, Version=2018.2.710.45, Culture=neutral, PublicKeyToken=121fae78165ba3d4:en-US:8b7d6a7a-6133-413b-b622-bbc1f3ee15e4:53e1db5a:d126a8ef';
                            Sys.Application.remove_load(loadHandler);
                        };
                        Sys.Application.add_load(loadHandler);
                    })();Sys.Application.add_init(function() {
    $create(Telerik.Web.UI.RadAjaxPanel, {"clientEvents":{OnRequestStart:"",OnResponseEnd:""},"enableAJAX":true,"enableHistory":false,"links":[],"loadingPanelID":"","styles":[],"uniqueID":"ctl00$user_panel$RadAjaxPanel"}, null, null, $get("ctl00_user_panel_RadAjaxPanel"));
});
Sys.Application.add_init(function() {
    $create(Telerik.Web.UI.RadToolTipManager, {"_cssClass":"ToolTipContent","_manualCloseButtonText":"Close","_updatePanelUniqueId":"ctl00$user_panel$shopping_cartRTMPanel","animation":2,"animationDuration":100,"clientStateFieldID":"ctl00_user_panel_shopping_cart_ClientState","formID":"form","hideEvent":4,"isToolTipFactory":true,"loadOnDemand":false,"overlay":true,"position":21,"relativeTo":1,"skin":"Default","targetControls":"[]"}, null, null, $get("ctl00_user_panel_shopping_cart"));
});
//]]>
</script>
</form>

	</body>
</html>
